<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>WebUI: Edit Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " href="/web/logout">Logout</a>
    <a class="navbar-brand " href="/web/changeauth">Change Password</a>
</nav>

<div class="container">
    <h1 style="text-align:center">Edit Document</h1>
    {% import 'bootstrap/wtf.html' as wtf %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form) }}
    </form>
</div>
</body>
</html>
