<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>WebUI: Login to CrispyDB</title>
  </head>
  <body>
    <h1 style="text-align:center">Login to {{name}}</h1>
    <br/>
    <br/>
 <!--USE JINJA-->
    {% import 'bootstrap/wtf.html' as wtf %}
    <form method="POST" action="/web/login">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
        {{ wtf.quick_form(form) }}
        </div>
    </form>
  </body>
</html>