.main{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
}
.main .header{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.main .header .logo{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.main .header .logo img{
    width: 100%;
    height: 100%;
}
.main .header .nav{
    width: calc(100% - 100px);
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.main .header .nav .nav-item{
    width: 100px;
    height: 50px;
    float: left;
    position: relative;
    z-index: 1;
}
.main .header .nav .nav-item .nav-item-text{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-size: 14px;
    position: relative;
    z-index: 1;
}
.main .header .nav .nav-item .nav-item-text:hover{
    color: #ff6700;
}
.main .header .nav .nav-item .nav-item-text.active{
    color: #ff6700;
}
.main .header .nav .nav-item .nav-item-icon{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.main .header .nav .nav-item .nav-item-icon img{
    width: 100%;
    height: 100%;
}
