<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="/web/logout">Logout</a>
    </nav>

  <h1 style="text-align:center">Dashboard</h1>
  {% for collection in collections %}
  <div class="container">
  <div class="col-md-4" style="width:800px; margin:0 auto;">
    <ul class="list-group">
    <a href="/web/collections/{{collection}}"><li class="list-group-item active">{{collection}}</li></a>
    </ul>
  </div>
  </div>
    {% endfor %}

  <br/>
  <br/>
  {% import 'bootstrap/wtf.html' as wtf %}
  <form method="POST" action="/web/dashboard">
            <div class="col-md-4" style="width:800px; margin:0 auto;">
              {{ wtf.quick_form(nform)}}
            </div>
  </form>
  </body>
</html>