<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>WebUI Beta</title>

  </head>
  <body>
    <!--- Navbar -->
    <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand " href="/web/login">Login</a>
        <a class="navbar-brand " href="/web/dashboard">Dashboard</a>
    </nav>
    </div>
      <br/>
      <h1 style="text-align:center">Welcome to CrispyDB!</h1>
  </body>
</html>
