<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to {{name}}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Login to {{name}}</h1>
 <!--USE JINJA-->
 <form method="POST" action="/web/login">
     {{form.csrf_token}} <br/>
     <h4>{{form.username.label}}</h4>
     {{form.username()}}
     <h4>{{form.password.label}}</h4>
     {{form.password()}} <br/>
     {{form.submit()}}<br />
 </form>

</body>
</html>